.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-weight: 600;
  border-radius: 8px;
  padding: 0.75em 1em;
  margin: 0.75em;
  border: none;
  outline: none;
  user-select: none;
}

.footer {
  width: 100%;
  height: 70px;
  padding-top: 2em;
  font-weight: 600;
  text-align: center;
  color: var(--tx-color);
  border-top: 1p solid var(--accent-color-faded);
}

.footerSpan {
  width: auto;
}

@media (max-width: 1000px) {
  .footerSpan,
  .separator {
    margin-bottom: 1em;
  }

  .footerSpan {
    display: inline-block;
    width: 100%;
  }
  .separator {
    display: none;
  }
}